/**
 * font-family: 'Josefin Sans', sans-serif; font-weight: 400,600,700;
 * font-family: 'Josefin Slab', serif; font-weight: 600;
*/

html {
    height: 100%;
    font-family: 'Josefin Sans', courier, sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #07b;
    background: #333 url('../img/bg/bg_blue.png') repeat fixed;
}
body {
    padding: 0px;
    margin:0px;
}
p {
    line-height: 1.2em;
}
.logo {
    color: #A00;
    text-shadow: 1px 1px 3px #A00;
    width: 350px;
    margin: 0 auto;
}
.top {
    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
    padding: 70px;
    color: #444;
}
.bottom {
/*    background: #f9f9f9 url('../img/bg/bg_darkgrey.png') repeat fixed; */
    padding: 70px;
    color: #f2f2f2;
}
.bottom h1,
.bottom h2,
.bottom h3,
.bottom h4,
.bottom h5,
.bottom h6 {
    color: #fff;
    text-shadow: 2px 2px 2px #444;
    -webkit-text-shadow: 2px 2px 2px #444;
}
.wrapper, footer {
    width: 400px;
    padding: 50px;
    box-shadow: 0 0 15px #000;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.2);
}
.wrapper img {
    max-width: 400px;
}
#footer {
    background: #07b url('../img/bg/bg_blue.png') repeat fixed;
    padding: 70px 0;
    text-shadow: none;
    color: #f2f2f2;
    font-weight: 700;
}
#footer > p {
    font-size: 60px;
    margin: 30px auto;
    text-shadow: 0px 0px 10px #f2f2f2;
}
#footer > p.mini_date, mini_date {
    font-size: 15px;
}
.top .wrapper {
    box-shadow: 0 0 15px #000;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 100;
}
input {
    padding: 10px 20px;
    border-radius: 25px;
    width: 400px;
    margin: 20px 0;
    background: #f9f9f9 url('../img/bg/bg_darkwhite.png') repeat fixed;
    color: #333;
    text-shadow: 1px 1px 1px #aaa;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2) inset;
}

pre.prettyprint{
    padding-bottom: 10px;
    padding: 10px 0 0 5px;
    margin-bottom: 70px;
    font: 14px/16px "Courier New", Courier, mono;
}
.bottom pre.prettyprint {
    background: url(../img/misc/pre_bg.png) repeat-y left;
    border-right: 1px solid #292929;
}
.top pre.prettyprint {
    background: url(../img/misc/pre_bg_w.png) repeat-y left;
    border-right: 1px solid #292929;
}
::selection {
    color: #f2f2f2;
    background-color: #29d;
    text-shadow: 0 0 2px #FFF;
}
button {
    background: #59c url('../img/bg/bg_blue.png') repeat fixed;
    padding: 5px;
    min-width: 150px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 2px #9BF;
}
button:hover {
    box-shadow: 0 0 10px #07b;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 15px -20px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    color: #07b;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

a {
    color: #ccc;
}
a:hover {
    color: #f2f2f2;
}
.top a {
    color: #444;
}
.top a:hover {
    color: #030303;
}

.center {
    text-align: center;
}

/****************************************************** iphone btn *********************************************/

.checkbox {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif, Helvetica;
    display: block;
    width: 94px;
    height: 27px;
    overflow: hidden;
    border-radius: 3px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    text-indent: -9999px;
    display: block;
    width: 150px;
    height: 27px;
    line-height: 27px;
    background: transparent url(../img/misc/iphone_btn.png) no-repeat -56px 0;
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    translateZ: 0;
}

input[type=checkbox]:checked + label {
    -webkit-transition: background-position 0.3s ease-in-out;
    -moz-transition: background-position 0.3s ease-in-out;
    -o-transition: background-position 0.3s ease-in-out;
    background-position: -3px 0;
    translateZ: 0;
}
.overlined {
    text-decoration: line-through;
}

/*********************************** music player ******************************/
